{% load i18n %}
<div class="flex items-center justify-center" onclick="event.stopPropagation();">
{% if instance.open_service_request %}
    <button
        class="oh-btn oh-btn--secondary oh-btn--disabled"
        role="button"
        disabled
    >
        <ion-icon name="build-outline"></ion-icon>
        {% trans "Service Requested" %}
    </button>
{% else %}
    <button
        class="oh-btn oh-btn--secondary"
        role="button"
        data-toggle="oh-modal-toggle"
        data-target="#genericModal"
        hx-get="{% url 'asset-service-request-creation' %}?assignment_id={{ instance.id }}"
        hx-target="#genericModalBody"
    >
        <ion-icon name="build-outline"></ion-icon>
        {% trans "Request Service" %}
    </button>
{% endif %}
</div>
